
.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 auto;
    max-width: 1184px;
  }
  
  
  @media screen and (max-width: 1023px) {
    .footer {
      padding: 88px 24px 18px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      padding: 64px 16px 32px;
      flex-direction: column;
    }
  }